/* sets formatting for header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 200%;
    color: #fff;
    background-image: url(../images/portfolio\ header.jpg);
    background-position: center;
    background-size: 100%;
}

/* sets formatting for nav bar */
nav {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1%;
    background-color: lightgray;
    color: #fff;
    width: 100%;
    height: 100px;
}

/* sets format for list within nav bar */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    text-shadow:  3px 3px 2px #000;
}

/* sets format for main tag */
.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

/* sets format for sections within main tag */
.about-me, .my-creations, .creations-cont {
    width: 75%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
    height: 400px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-style: outset;
    border-width: 5px;
    border-color: blueviolet;
    border-radius: 50px;
}

/* formates the picture within about me section */
.about-me .selfie {
    height: 300px;
    width: 30%;
    position: relative;
    right: -110%;
    top: -50px;
}

/* formates the picture within about me section */
.selfie {
    height: 100%;
    width: 100%;
}

/* formates h2 tag within about me section */
.about-me h2 {
    font-size: 200%;
    display: block;
    justify-content: center;
    text-decoration: underline;
}

/* sets font size for text within about me */
.about-me p {
    font-size: 140%;
}

/* adds more detial to section containing my projects */
.my-creations {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* sets formatting for h2 elements within these sections */
.my-creations h2, .creations-cont h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

/* makes first project bigger than the others */
.my-creations #first-project {
    height: 300px;
    width: 40%;
    background-color: #000;
}

/* makes first project bigger than the others */
#first-project img {
    height: 100%;
    width: 100%;
}

/* sets formatting for my other projects */
.project {
    height: 300px;
    width: 25%;
    justify-content: center;
    background-color: #000;
}

/* sets formatting for my other projects */
.project img {
    height: 100%;
    width: 100%;
}

/* adds space between elements within this section */
.creations-cont {
    justify-content: space-between;
}

/* sets formatting for my projects coming soon */
.coming-soon {
    height: 300px;
    width: 30%;
    justify-content: center;
    background-color: #000;
    
}

/* sets formatiing for my projects coming soon */
.coming-soon img {
    height: 100%;
    width: 100%;
}

/* sets format for my contact info located in footer */
.contact-me {
    width: 100%;
    height: 150px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* sets format for h1 element in footer */
.contact-me h1 {
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 250%;
}

/* sets format for list elements within footer */
.contact-me li {
    display: inline-flex;
    justify-content: space-evenly;
    min-width: 300px;
    font-size: 200%;
}

/* changes display based on screen size */
@media screen and (max-width: 800px) {
    /* removes image when screen is below 800px */
    .about-me .selfie img {
        visibility: collapse;
    }
    /* makes the sections within main tag take up whole screen */
    .about-me, .my-creations, .creations-cont {
        width: 100%;
    }
    /* makes the text within about me section smaller */
    .about-me p {
        font-size: 100%;
    }
}